# ignore .idea/* file
.idea/*
# ignore .iml file
*.iml
# ignore .idea file
.idea/

parent-utils/utils-common/target/
#parent-utils/utils-common/target/*

parent-test/common-test/target/
#parent-test/common-test/target/*

parent-test/hive-test/target/
#parent-test/hive-test/target/*

logs/

parent-test/elasticsearch-test/target/
#parent-test/elasticsearch-test/target/*

parent-test/translation-test/target/
#parent-test/translation-test/target/*
